<form action={{companiesUpdatePath company.id}} method="post">
    {{> companies}}

    Name: <input type="text" name="name" value={{company.name}}>
    <hr>
    Email: <input type="text" name="email" value={{company.email}}>
    <hr>
    User id: <input type="number" name="user_id" value={{company.user_id}}>
    <hr>

    <button>Update</button>
</form>

<a href={{companiesIndexPath}}>Cancel</a>
<br>

<a href={{companiesDeletePath company.id}}>Delete</a>